.symbolCol{
    padding-right: 10px;
    text-align: center;
}

.sentCol{
    padding-left: 10px;
    text-align: center;
}

.overallTable{
    border: 1px solid;
    align-self: center;
    height:100%;
    
}

.chartContainer{
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
}

#pieChartDiv{
    width:20%;
    height:100%;
}

#barChartDiv{
    width:45%;
    height:100%;
}

#tableDiv{
    display: flex;
    justify-content: center;
    width:25%;
    height:100%;
}